@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Product>

@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4" style="max-height: 700px; overflow: hidden;">
            <div class="card" style="max-width: 350px;">
                <img src="~/images/@product.Image"
                     class="card-img-top"
                     alt="@product.Name"
                     style="width: 100%; height: 300px; object-fit: contain;" />

                <br />
                <div class="card-body">
                    <h6 class="card-title"><strong>@product.Name</strong></h6>
                    <p class="description-cell" style="max-width: 290px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@product.Description</p>
                    @* <p class="description-cell card-text" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@book.</p> *@
                    <p><strong>Price:  $  </strong>@product.Price</p>

                    <div style="display: flex; align-items: center; justify-content: flex-start;">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-success" style="margin-right: 5px;">View Details</a>

                        <form asp-controller="Order" asp-action="AddToCart" method="post" style="margin-bottom: 0;">
                            <input type="hidden" name="id" value="@product.Id" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})
</div>